body {

}

ul {
  list-style-type: none;
}

#notes-list {
  width: 30%;
  height: 100%;
  margin-left: 0;
}

#all-notes {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
}

/*::-webkit-input-placeholder {
  color: black;
}*/

/*view a single note*/
#view-note {
  width: 60%;
  height: 80%;
  display: block;
  margin-left: 35%;
  margin-top: -55%;
  border: 1px solid skyblue;
}

#show-note {
  margin-bottom: 100px;
}

#edit-buttons {
  margin-top: 20px;
}

/*New note form */
#note-form {
  margin-top: 50px;
}

.form-note-title {
  width: 70%;
  height: 20px;
  display: block;
  margin: 0 auto;
}

.form-note-body {
  width: 70%;
  height: 500px;
  margin: 0 auto;
  display: block;
  /*position: absolute;*/
}

#save-button {
  width: 100px;
  height: 50px;
  margin: 0 auto;
  display: block;
}
