<p>hello kitty</p>

<!-- <form class="note-form" ng-submit="notes.editNote(note)">

  <div class="form-buttons">
    <button type="button" class="btn btn-default" ng-click="notes.deleteNote(note); deletenotice=true; editform=false; form=false"><span class="glyphicon glyphicon-trash"></span></button>
    <button type="submit" class="btn btn-default" value="Save Changes" ng-click="notes.showAlert(); editform=false; form=false"><span class="glyphicon glyphicon-floppy-disk"></span></button>
  </div>
  <div>
    <label for="title" class="form-note-title form-pair">Title</label>
    <input ng-model="notes.single.title" type="text" class="form-note-title form-pair">
  </div> -->
    <!-- <input value="sample" type="text" class="form-note-title" ng-model="notes.editedNote.title" > -->
    <!-- "" -->
    <!-- <div>
    <label for="body" class="form-pair body-label">Body</label>

    <textarea id="editor" ng-model="notes.single.body" type="text" class="form-note-body form-pair"></textarea>
  </div>
</form>

<div class="alert alert-success" role="alert" ng-show="showsuccess">Note Saved!</div>
<div class="alert alert-info" role="alert" ng-show="deletenotice">Note Deleted!</div> -->
